.auth-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.group {
  width: 100%;
  gap: 2rem;
}

.input-group a {
  margin: 0.25rem 0 0 0;
}

.title-margin {
  margin: 5rem 0 5rem 0;
}

.margin-0-5 {
  margin: 0.5rem;
}

.margin-2 {
  margin: 2rem;
}